* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navigation {
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  padding-inline: 1.875rem;
  padding-block: 1.1875rem;
  &__container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
  &__menu-group {
    display: flex;
    align-items: center;
    &--left {
      gap: 0.8125rem;
    }
    &--right {
      gap: 1rem;
    }
  }
  &__logo {
    height: 32px;
    aspect-ratio: 200 / 51;
  }
  &__page-title {
    margin-top: 0.1875rem;
    padding-top: 0.1875rem;
    padding-left: 0.8125rem;
    line-height: 1.4375rem;
    border-left: 0.125rem solid #fff;
  }
  &__btn {
    padding-inline: 1.4375rem;
    padding-block: 0.4375rem;
    line-height: 2.25rem;
    border-radius: 0.5rem;
    &--outline {
      border: 0.0625rem solid #fff;
      background-color: #191a1b;
    }
    &--fill {
      background-color: #515fcb;
    }
  }
}

.hero {
  background-color: #dadbee;
  padding-inline: 1.875rem;
  padding-block: 5rem 7.1875rem;
  &__container {
    width: 90%;
    margin-inline: auto;
  }
  &__text {
    font-size: 5rem;
    line-height: 7.5rem;
    text-align: center;
    margin-inline: auto;
    width: 80%;
  }
  &__search-input {
    border-radius: 0.25rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 0.0625rem solid #000;
    background-color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-inline: auto;
    display: block;
    width: 80%;
  }
}

.feature {
  padding: 1.875rem;
  &__container {
    column-gap: 1.5rem;
    row-gap: 3rem;
    width: 80%;
    margin-inline: auto;
    padding-left: 0rem;
    list-style: none;
    margin-block: 0;
    display: flex;
    flex-wrap: wrap;
    > * {
      flex-basis: 0; /* 균등사이즈 위해서 꼭 넣어주기 */
      flex-grow: 2;
      //메모: 이따 사이즈 제대로 다시 설정할 것
      min-width: 25rem;
    }
  }
}

.card {
  display: flex;
  gap: 1.875rem;
  padding-top: 3rem;
  &__area {
    &-left {
    }
    &-right {
    }
  }
  &__img {
    max-width: 5rem;
  }
  &__title {
  }
  &__desc {
  }
  &__more {
  }
}
