* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.flex-container {
  display: flex;
}

.top-bar {
  background-color: black;
  padding-inline: 7.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

.abstract {
  padding-right: 12.8px;
  font-weight: 700;
}

.help-center {
  padding-left: 0.8rem;
}

.button-1 {
  padding: 0.375rem 1.375rem;
  font-size: 1.5rem;
  border-bottom: 1px #ffffff;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  background-color: #191a1b;
  color: #ffffff;
}

.button-2 {
  padding: 0.375rem 1.375rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  background-color: #4c5fd5;
  color: #ffffff;
}

.search {
  background-color: #dadbf1;
  padding: 100px 30px 115px;
  text-align: center;
}

.search-title {
  font-size: 80px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.search-box {
  background-color: #ffffff;
  font-size: 1.25rem;
  color: #8a8a8a;
  width: 720px;
  margin-inline: auto;
  margin-block: 0rem;
  text-align: left;
  padding: 20px;
  border: 1;
  border-radius: 4px;
}

.main {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 6.25rem 1.875rem;
  gap: 1rem;
}

.main > * {
  align-items: first baseline;
  align-content: center;
  justify-content: space-around;
  width: 33.75rem; /*일정사이즈가 됨*/
}

.img {
  width: 80px;
  height: 80px;
  margin-right: 1.5rem;
  margin-top: 0.75rem;
}

.info {
  width: 385px;
  padding-right: 24px;
}

.info-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3rem 0rem 1rem;
}

.info-read {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.bottom-bar {
  background-color: black;
  color: #ffffff;
  padding-inline: 130px;
  padding-bottom: 160px;
  justify-content: space-between;
  row-gap: 3rem;
}

.bottom-content {
  padding-right: 48px;
}

.bottom-read {
  font-size: 1rem;
  margin: 0rem;
}

.bottom-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 48px 0px 16px;
}

.bottom-contact {
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-opt-1 {
  column-gap: 4rem;
  row-gap: 1.5rem;
}

.flex-wrap-opt-1 > * {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 16rem;
}
